@import "tailwindcss";

@theme{
  --color-myBlue: #4385F5;
  --color-myGreen: #34A853;
  --color-myYellow: #FCBC05;
  --color-myPurple: #9330EA;
  --color-myRed: #E8463B;
  --color-black2: #222222;
  --color-black4: #444444;
  --color-black6: #666666;
  --color-black7: #777777;
  --color-black8: #888888;
  --color-black9: #999999;
  --color-gray5: #E5E5E5;
  --color-gray9: #E9E9E9;
  --color-white5: #F5F5F5;
  --color-white9: #F9F9F9;
}

@font-face {
  font-family: "NEXON Bold";
  font-style: normal;
  font-weight: normal;
  src: local("NEXON"), url("/font/NEXON Lv2 Gothic OTF Bold.otf") format("opentype");
}
@font-face {
  font-family: "NEXON Medium";
  font-style: normal;
  font-weight: normal;
  src: local("NEXON"), url("/font/NEXON Lv2 Gothic OTF Medium.otf") format("opentype");
}
@font-face {
  font-family: "NEXON Light";
  font-style: normal;
  font-weight: normal;
  src: local("NEXON"), url("/font/NEXON Lv2 Gothic OTF Light.otf") format("opentype");
}
@font-face {
  font-family: "NEXON";
  font-style: normal;
  font-weight: normal;
  src: local("NEXON"), url("/font/NEXON Lv2 Gothic OTF.otf") format("opentype");
}

.nexon-bold {
  font-family: "NEXON Bold", sans-serif;
}
.nexon-medium {
  font-family: "NEXON Medium", sans-serif;
}
.nexon-light {
  font-family: "NEXON Light", sans-serif;
}
.nexon {
  font-family: "NEXON", sans-serif;
}

#root{
  font-family: "NEXON";
  letter-spacing: -0.5px;
}

body{
  overflow-x: hidden;
}

.full-line:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50vw;
  width: 500vw;
  height: 1px;
  background: var(--color-gray5);
}

input[type=password]{
	font-family:"Nanum Gothic", sans-serif !important;
}

input[type=password]::placeholder {
	font-family: "Nexon"; 

}